files=(
.bash_aliases
.bash_path
.bashrc
.slate.js
.tmux.conf
.vimrc
)

vim_plugins=(
https://github.com/altercation/vim-colors-solarized
https://github.com/airblade/vim-gitgutter
https://github.com/scrooloose/nerdtree
https://github.com/majutsushi/tagbar
https://github.com/xolox/vim-easytags
https://github.com/plasticboy/vim-markdown
https://github.com/xolox/vim-misc
https://github.com/fidian/hexmode
)

brew_formula=(
git
bash
python
python3
pass
tmux
tmux-mem-cpu-load
vim
gnupg2
ghi
reattach-to-user-namespace
tree
)

brew_cask_formula=(
iterm2
slate
firefox
google-chrome
wireshark
spotify
vlc
)
